.recent-mail-container {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.csv-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    overflow-x: auto;
}

.csv-table th,
.csv-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.csv-table th {
    background-color: #FF834E;
    color: white;
}

.csv-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.csv-table tr:hover {
    background-color: #f1f1f1;
}


.recent-mail-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.csv-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    overflow-x: auto;
}

.csv-table th,
.csv-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.csv-table th {
    background-color: #FF834E;
    color: white;
}

.csv-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.csv-table tr:hover {
    background-color: #f1f1f1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-left {
    font-size: 24px;
    font-weight: bold;
}

/* Navbar Right Section */
.navbar-right {
    display: flex;
    gap:40px;
    margin-right: 20px;
}

.navbar-right button {
    background-color: #FF834E;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-right button:hover {
    background-color: #555;
}
